<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>Far-Bank.ttf</string>
		<string>Roboto Thin.ttf</string>
		<string>Roboto Regular.ttf</string>
		<string>Roboto Medium.ttf</string>
		<string>Roboto Light.ttf</string>
		<string>Roboto Italic.ttf</string>
		<string>Roboto Bold.ttf</string>
		<string>Roboto Black.ttf</string>
		<string>IRANSansMobileNoEn UltraLight.ttf</string>
		<string>IRANSansMobileNoEn Medium.ttf</string>
		<string>IRANSansMobileNoEn Light.ttf</string>
		<string>IRANSansMobileNoEn Bold.ttf</string>
		<string>IRANSansMobileNoEn Black.ttf</string>
		<string>IRANSansMobileFaNum Light.ttf</string>
		<string>IRANSansMobileFaNum Medium.ttf</string>
		<string>IRANSansMobileFaNum UltraLight.ttf</string>
		<string>IRANSansMobileFaNum Black.ttf</string>
		<string>IRANSansMobileFaNum Bold.ttf</string>
	</array>
</dict>
</plist>
